<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DeGiro GUI</title>
</head>
<body>
<nav>
    <a href="index.html">Home</a>
    <a href="add_product.html">Add Product</a>
    <a href="shortcuts.html">Shortcuts</a>
</nav>
<h1>DeGiro GUI</h1>

<form>
    Product name:<br>
    <input id="product_name" title="Username">
    <br><br>
    <input type="button" id="product_search" value="Search">
</form>

<form id="search_results">

</form>

<script type="text/javascript">
    require('../renderers/add_product');
</script>

</body>
</html>
