<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DeGiro GUI</title>
</head>
<body>
<nav>
    <a href="index.html">Home</a>
    <a href="add_product.html">Add Product</a>
    <a href="shortcuts.html">Shortcuts</a>
</nav>
<h1>DeGiro GUI</h1>

<form>
    Stop-limit (50):<br>
    <input class="actions" id="stop_limit_50" title="Stop limit (50)"><button id="stop_limit_50_button">Set</button><br>
</form>

<script type="text/javascript">
    require('../renderers/shortcuts');
</script>

</body>
</html>
